/*
  Simple Grid
  Learn More - http://dallasbass.com/simple-grid-a-lightweight-responsive-css-grid/
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - dallasbass.com
*/

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: url("../images/bg1.jpg") top left no-repeat;
}

[class*='col-'] {
    float: left;
    padding-right: 20px;
}

[class*='col-']:last-of-type {
    padding-right: 0;
}

.grid {
    width: 100%;
    max-width: 1140px;
    min-width: 755px;
    margin: 0 auto;
    overflow: hidden;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

.grid-pad {
    padding: 20px 0 0 20px;
}

.grid-pad > [class*='col-']:last-of-type {
    padding-right: 20px;
}

.push-right {
    float: right;
}

.col-1-1 {
    width: 100%;
}
.col-2-3, .col-8-12 {
    width: 66.66%;
}

.col-1-2, .col-6-12 {
    width: 50%;
}

.col-1-3, .col-4-12 {
    width: 33.33%;
}

.col-1-4, .col-3-12 {
    width: 25%;
}

.col-1-5 {
    width: 20%;
}

.col-1-6, .col-2-12 {
    width: 16.667%;
}

.col-1-7 {
    width: 14.28%;
}

.col-1-8 {
    width: 12.5%;
}

.col-1-9 {
    width: 11.1%;
}

.col-1-10 {
    width: 10%;
}

.col-1-11 {
    width: 9.09%;
}

.col-1-12 {
    width: 8.33%
}

.col-11-12 {
    width: 91.66%
}

.col-10-12 {
    width: 83.333%;
}

.col-9-12 {
    width: 75%;
}

.col-5-12 {
    width: 41.66%;
}

.col-7-12 {
    width: 58.33%
}

@media handheld, only screen and (max-width: 767px) {
    .grid {
        width: 100%;
        min-width: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    [class*='col-'] {
        width: auto;
        float: none;
        margin: 10px 0;
        padding-left: 20px;
        padding-right: 20px;
    }
}


/*
  Calculator styles
*/

.grid {
    width: 950px !important;
    margin-bottom: 1em;
    font-size: 11px;
    font-family: Tahoma, sans-serif;
}
div.calculator-container {
    background: #0d0906 url("../images/bg.png");
    margin: auto;
    color: whitesmoke;
    text-align: left;
    border-bottom: 4px solid black;
    cursor: default !important;
}
div.copyright {
    text-align: right;
    color: #ddccba;
    font-size: 10px;
    background: black;
    padding: 2px 1em 0 2px;
}
div.copyright a {
    color: whitesmoke;
}
div.logo {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 6px;
    padding-bottom: 6px;
}
div.logo img {
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: -20px;
    margin-top: -20px;
}
div.logo > span {
    font-size: 20px;
    color: #ddccba;
    padding-left: 40px;
}
div.rank {
    font-size: 20px;
    padding: 10px;
}
div.next-title {
    text-align: center;
    color: #f5ecb5;
    font-size: 14px;
    padding: 10px 10px 0;
}
div.decorative-skill-up {
    float: right;
    background: url('../images/skill-up-big.png') no-repeat;
    width: 80px;
    height: 80px;
}
div.links {
    text-align: right;
    padding-right: 1em;
    margin-bottom: 1em;
}
div.links a {
    color: #F5F5F5;
    text-decoration: none;
}
div.links a:last-child {
    padding-left: 2em;
}
table.calculator-layout {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #222;
}
table.calculator-layout td {
    padding: 0;
    margin: 0;
}
td.ability-icon {
    height: 50px;
    width: 50px;
}
td.ability-icon img {
    height: 51px;
    width: 51px;
    padding: 4px 4px 4px 8px;
    margin: 0;
}
table.calculator-layout th {
    height: 32px;
    background: url("../images/subtitle-bg.png") no-repeat;
    padding-left: 10px;
    border: 2px solid #222;
    font-size: 12px;
}
table.calculator-layout td.title {
    padding: 0 4px;
}
div.ability-title {
    font-size: 14px;
    color: #d6caba;
}
div.ability-description {
    font-size: 11px;
    color: #a19d9a;
}
table.calculator-layout tr:nth-child(even) {
    background: url("../images/row-bg.png") no-repeat;
}

/* Ыkill points
----------------------------- */
table.calculator-layout td.points {
    width: 181px !important;
}
table.calculator-layout td.points ul,
table.calculator-layout td.points ul li {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
}
table.calculator-layout td.points .point-sum {
    padding: 0 2px 4px;
    height: 20px;
}
table.calculator-layout td.points .point-sum .amount {
    float: left;
    display: block;
    height: 20px;
    padding-top: 4px;
    padding-right: 4px;
}table.calculator-layout td.points li div.point {
     width: 12px;
     height: 23px;
     float: left;
     background: #394144 url("../images/skill-bg-0.png");
     border: 1px solid black
 }
table.calculator-layout td.points li.hover div.point {
    background: #90a7b9 url("../images/skill-bg-1.png");
}
table.calculator-layout td.points li.active div.point {
    background: #90a7b9 url("../images/skill-bg-2.png");
}
table.calculator-layout td.points li.active:hover div.point {
    background: #90a7b9 url("../images/skill-bg-3.png");
}
table.calculator-layout td.points li.maxed div.point {
    background: #b9b73d url("../images/skill-bg-4.png");
}
table.calculator-layout td.points li.maxed:hover div.point {
    background: #b9b73d url("../images/skill-bg-5.png");
}
div.spent {
    font-size: 10px;
    padding-top: 4px;
    float: right;
    margin-right: 1em;
    text-align: right;
    color: #bbbbbb;
}

/* jQuery UI tooltip
----------------------------- */
.ui-tooltip {
    color: #bbbbbb;
    background: black url("../images/tooltip.png") no-repeat;
    border: 2px solid black;
    box-shadow: 0 0;
    border-radius: 0;
    font-size: 12px;
    font-family: Tahoma, sans-serif;
    text-align: left;
    cursor: default !important;
}
.table-in-tooltip,
.table-in-tooltip tr,
.table-in-tooltip td {
    padding: 0;
    margin: 0;
    min-height: 20px;
}
.table-in-tooltip tr > td:first-child {
    font-weight: bold;
}
.table-in-tooltip tr > td.skill-img {
    background: url("../images/skill-up-small.png") no-repeat center right;
    width: 24px;
    min-height: 20px;
}
.table-in-tooltip tr > td:last-child {
    padding-left: 1em;
}

/* Right box, gained abilities
----------------------------- */
.subtitle {
    padding: .8em 0 0;
    font-weight: bolder;
    font-size: 16px;
    color: #DDCCBA;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
.gained-abilities {
    color: white;
    padding-left: 1em;
    background: url('../images/49156.png');
    border: 2px solid #555555;
    display: none;
    min-height: 100px;
}
.gained-abilities ul {
    padding-left: 1em;
}
abbr {
    cursor: help;
}
